In [30]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

df_world_data_total = pd.read_csv("data/df_world_data_total.csv", index_col = 0) # el merge de los dos world-data

In [31]:
df_world_data_total

,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",('33.93911 ','67.709953')
Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",('41.153332 ','20.168331')
Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",('28.033886 ','1.659626')
Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.9,VED,2.27,52.7,0.00,"482,359,318,768",97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",('6.42375 ','-66.58973')
Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.8,VND,2.05,48.1,0.80,"261,921,244,843",110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",('14.058324 ','108.277199')
Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.1,YER,3.79,1.0,0.92,"26,914,402,224",93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",('15.552727 ','48.516388')
Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.2,ZMW,4.63,65.2,1.40,"23,064,722,446",98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",('-13.133897 ','27.849332')
Zimbabwe,38,ZW,41.9,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.9,NaN,3.62,35.5,1.34,"21,440,758,800",109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,"14,645,468",83.1,20.7,31.6,4.95,"4,717,305",('-19.015438 ','29.154857')

Ejercicios apply

1.Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [32]:
df_world_data_total.columns

Index(['density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud'],
      dtype='object')

In [33]:
df_world_data_total["latitud"]=df_world_data_total["latitud"].str.replace("(","").str.replace("'","")
df_world_data_total["longitud"]=df_world_data_total["longitud"].str.replace(")","").str.replace("'","")

In [34]:
def convertir_numerica(valor):
    try:
        return float(valor.replace(",",""))
    except:
        return valor
        

columnas_a_convertir=[ "landarea", "armedforcessize", "co2-emissions", "gdp", "population", "urban_population", "latitud", "longitud", "density", "cpi"]

for columna in columnas_a_convertir:
    df_world_data_total[columna]=df_world_data_total[columna].apply(convertir_numerica)

2.Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [35]:
df_world_data_total=df_world_data_total.reset_index()

In [36]:
country_continents = {
    'Afghanistan': 'Asia',
    'Albania': 'Europe',
    'Algeria': 'Africa',
    'Andorra': 'Europe',
    'Angola': 'Africa',
    'Antigua and Barbuda': 'North America',
    'Argentina': 'South America',
    'Armenia': 'Asia',
    'Australia': 'Oceania',
    'Austria': 'Europe',
    'Azerbaijan': 'Asia',
    'The Bahamas': 'North America',
    'Bahrain': 'Asia',
    'Bangladesh': 'Asia',
    'Barbados': 'North America',
    'Belarus': 'Europe',
    'Belgium': 'Europe',
    'Belize': 'North America',
    'Benin': 'Africa',
    'Bhutan': 'Asia',
    'Bolivia': 'South America',
    'Bosnia and Herzegovina': 'Europe',
    'Botswana': 'Africa',
    'Brazil': 'South America',
    'Brunei': 'Asia',
    'Bulgaria': 'Europe',
    'Burkina Faso': 'Africa',
    'Burundi': 'Africa',
    'Ivory Coast': 'Africa',
    'Cape Verde': 'Africa',
    'Cambodia': 'Asia',
    'Cameroon': 'Africa',
    'Canada': 'North America',
    'Central African Republic': 'Africa',
    'Chad': 'Africa',
    'Chile': 'South America',
    'China': 'Asia',
    'Colombia': 'South America',
    'Comoros': 'Africa',
    'Republic of the Congo': 'Africa',
    'Costa Rica': 'North America',
    'Croatia': 'Europe',
    'Cuba': 'North America',
    'Cyprus': 'Asia',
    'Czech Republic': 'Europe',
    'Democratic Republic of the Congo': 'Africa',
    'Denmark': 'Europe',
    'Djibouti': 'Africa',
    'Dominica': 'North America',
    'Dominican Republic': 'North America',
    'Ecuador': 'South America',
    'Egypt': 'Africa',
    'El Salvador': 'North America',
    'Equatorial Guinea': 'Africa',
    'Eritrea': 'Africa',
    'Estonia': 'Europe',
    'Eswatini': 'Africa',
    'Ethiopia': 'Africa',
    'Fiji': 'Oceania',
    'Finland': 'Europe',
    'France': 'Europe',
    'Gabon': 'Africa',
    'The Gambia': 'Africa',
    'Georgia': 'Asia',
    'Germany': 'Europe',
    'Ghana': 'Africa',
    'Greece': 'Europe',
    'Grenada': 'North America',
    'Guatemala': 'North America',
    'Guinea': 'Africa',
    'Guinea-Bissau': 'Africa',
    'Guyana': 'South America',
    'Haiti': 'North America',
    'Vatican City': 'Europe',
    'Honduras': 'North America',
    'Hungary': 'Europe',
    'Iceland': 'Europe',
    'India': 'Asia',
    'Indonesia': 'Asia',
    'Iran': 'Asia',
    'Iraq': 'Asia',
    'Republic of Ireland': 'Europe',
    'Israel': 'Asia',
    'Italy': 'Europe',
    'Jamaica': 'North America',
    'Japan': 'Asia',
    'Jordan': 'Asia',
    'Kazakhstan': 'Asia',
    'Kenya': 'Africa',
    'Kiribati': 'Oceania',
    'Kuwait': 'Asia',
    'Kyrgyzstan': 'Asia',
    'Laos': 'Asia',
    'Latvia': 'Europe',
    'Lebanon': 'Asia',
    'Lesotho': 'Africa',
    'Liberia': 'Africa',
    'Libya': 'Africa',
    'Liechtenstein': 'Europe',
    'Lithuania': 'Europe',
    'Luxembourg': 'Europe',
    'Madagascar': 'Africa',
    'Malawi': 'Africa',
    'Malaysia': 'Asia',
    'Maldives': 'Asia',
    'Mali': 'Africa',
    'Malta': 'Europe',
    'Marshall Islands': 'Oceania',
    'Mauritania': 'Africa',
    'Mauritius': 'Africa',
    'Mexico': 'North America',
    'Federated States of Micronesia': 'Oceania',
    'Moldova': 'Europe',
    'Monaco': 'Europe',
    'Mongolia': 'Asia',
    'Montenegro': 'Europe',
    'Morocco': 'Africa',
    'Mozambique': 'Africa',
    'Myanmar': 'Asia',
    'Namibia': 'Africa',
    'Nauru': 'Oceania',
    'Nepal': 'Asia',
    'Netherlands': 'Europe',
    'New Zealand': 'Oceania',
    'Nicaragua': 'North America',
    'Niger': 'Africa',
    'Nigeria': 'Africa',
    'North Korea': 'Asia',
    'North Macedonia': 'Europe',
    'Norway': 'Europe',
    'Oman': 'Asia',
    'Pakistan': 'Asia',
    'Palau': 'Oceania',
    'Palestinian National Authority': 'Asia',
    'Panama': 'North America',
    'Papua New Guinea': 'Oceania',
    'Paraguay': 'South America',
    'Peru': 'South America',
    'Philippines': 'Asia',
    'Poland': 'Europe',
    'Portugal': 'Europe',
    'Qatar': 'Asia',
    'Romania': 'Europe',
    'Russia': 'Europe',
    'Rwanda': 'Africa',
    'Saint Kitts and Nevis': 'North America',
    'Saint Lucia': 'North America',
    'Saint Vincent and the Grenadines': 'North America',
    'Samoa': 'Oceania',
    'San Marino': 'Europe',
    'São Tomé and Príncipe': 'Africa',
    'Saudi Arabia': 'Asia',
    'Senegal': 'Africa',
    'Serbia': 'Europe',
    'Seychelles': 'Africa',
    'Sierra Leone': 'Africa',
    'Singapore': 'Asia',
    'Slovakia': 'Europe',
    'Slovenia': 'Europe',
    'Solomon Islands': 'Oceania',
    'Somalia': 'Africa',
    'South Africa': 'Africa',
    'South Korea': 'Asia',
    'South Sudan': 'Africa',
    'Spain': 'Europe',
    'Sri Lanka': 'Asia',
    'Sudan': 'Africa',
    'Suriname': 'South America',
    'Sweden': 'Europe',
    'Switzerland': 'Europe',
    'Syria': 'Asia',
    'Tajikistan': 'Asia',
    'Tanzania': 'Africa',
    'Thailand': 'Asia',
    'East Timor': 'Asia',
    'Togo': 'Africa',
    'Tonga': 'Oceania',
    'Trinidad and Tobago': 'North America',
    'Tunisia': 'Africa',
    'Turkey': 'Asia',
    'Turkmenistan': 'Asia',
    'Tuvalu': 'Oceania',
    'Uganda': 'Africa',
    'Ukraine': 'Europe',
    'United Arab Emirates': 'Asia',
    'United Kingdom': 'Europe',
    'United States': 'North America',
    'Uruguay': 'South America',
    'Uzbekistan': 'Asia',
    'Vanuatu': 'Oceania',
    'Venezuela': 'South America',
    'Vietnam': 'Asia',
    'Yemen': 'Asia',
    'Zambia': 'Africa',
    'Zimbabwe': 'Africa'
}

def add_continente(pais):
    if pais in country_continents:
        return country_continents[pais]
    else:
        return np.nan   
     
df_world_data_total["continent"]=df_world_data_total["country"].apply(add_continente)

3.Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [37]:
df_world_data_total.to_csv("data/df_world_data_total_apply.csv",index=False)

Ejercicios groupby

1.¿Cuál es la densidad de población promedio por continente?

In [38]:
df_world_data_total.groupby("continent")["density"].mean().round(2)

continent
Africa           105.09
Asia             446.29
Europe           798.09
North America    188.83
Oceania          185.00
South America     25.00
Name: density, dtype: float64

2.¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [39]:
df_world_data_total.groupby(["country", "officiallanguage"])["lifeexpectancy"].mean().reset_index()

         country officiallanguage  lifeexpectancy
0    Afghanistan           Pashto            64.5
1        Albania         Albanian            78.5
2        Algeria           Arabic            76.7
3        Andorra          Catalan             NaN
4         Angola       Portuguese            60.8
..           ...              ...             ...
185    Venezuela          Spanish            72.1
186      Vietnam       Vietnamese            75.3
187        Yemen           Arabic            66.1
188       Zambia          English            63.5
189     Zimbabwe            Shona            61.2

[190 rows x 3 columns]

3.¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [40]:
df_world_data_total.groupby("currency-code")["infantmortality"].mean()

currency-code
AED     6.500000
AFN    47.900000
ALL     7.800000
AMD    11.000000
AOA    51.600000
         ...
XCD    15.183333
XOF    51.512500
YER    42.900000
ZAR    28.500000
ZMW    40.400000
Name: infantmortality, Length: 133, dtype: float64

4.¿Cuál es el salario mínimo por continente?

In [41]:
df_world_data_total[["minimumwage","country"]].sample()

     minimumwage         country
185        10.13  United Kingdom

In [42]:
df_world_data_total.groupby("continent")["minimumwage"].min()

continent
Africa           0.01
Asia             0.05
Europe           0.31
North America    0.05
Oceania          0.40
South America    0.01
Name: minimumwage, dtype: float64

5.¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

-Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

-Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

-Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

-Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [43]:
df_world_data_total.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitud', 'longitud',
       'continent'],
      dtype='object')

In [44]:
tax=df_world_data_total.groupby(["continent"])["totaltaxrate"].max()

In [45]:
density=df_world_data_total.groupby(["continent"])["density"].count()

In [46]:
(tax/density).reset_index().max()

continent    South America
0                 8.858333
dtype: object

6.¿Cuál es el porcentaje de población urbana promedio por continente?

In [47]:
df_world_data_total["urban_population"]

0       9797273.0
1       1747593.0
2      31510100.0
3         67873.0
4      21061025.0
          ...
190    25162368.0
191    35332140.0
192    10869523.0
193     7871713.0
194     4717305.0
Name: urban_population, Length: 195, dtype: float64

In [48]:
df_world_data_total.groupby("continent")["urban_population"].mean()

continent
Africa           1.080102e+07
Asia             4.833283e+07
Europe           1.322814e+07
North America    2.002709e+07
Oceania          2.171336e+06
South America    2.999807e+07
Name: urban_population, dtype: float64

In [49]:
# Calculamos el porcentaje de población urbana
df_world_data_total['urban_percentage'] = (df_world_data_total['urban_population'] / df_world_data_total['population']) * 100
# Calculamos el promedio por continente
porcentaje_promedio_por_continente = df_world_data_total.groupby("continent")["urban_percentage"].mean()
porcentaje_promedio_por_continente

continent
Africa           45.917147
Asia             58.930801
Europe           72.558646
North America    59.092484
Oceania          48.598545
South America    74.761018
Name: urban_percentage, dtype: float64

7.¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

-Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

-Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

In [50]:
gasto_salud=df_world_data_total.groupby("officiallanguage")["outofpockethealthexpenditure"].mean()

In [51]:
pib=df_world_data_total.groupby("officiallanguage")["gdp"].mean()

In [52]:
pib - gasto_salud

officiallanguage
Afrikaans            3.514316e+11
Albanian             1.527808e+10
Amharic              9.610766e+10
Arabic               1.366153e+11
Armenian             1.367280e+10
                         ...
Tuvaluan Language    4.727146e+07
Ukrainian            1.537811e+11
Urdu                 3.044000e+11
Uzbek                5.792129e+10
Vietnamese           2.619212e+11
Length: 76, dtype: float64

8.¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

-Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

-Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

-Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

-Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total

In [53]:
maternindad_promedio=df_world_data_total.groupby("continent")["maternalmortalityratio"].mean()

In [54]:
impuestos_total_promedio=df_world_data_total.groupby("continent")["totaltaxrate"].mean()

In [55]:
maternindad_promedio/impuestos_total_promedio

continent
Africa           8.750154
Asia             2.378341
Europe           0.200190
North America    1.857962
Oceania          1.632223
South America    1.651304
dtype: float64

9.Ejercicios bonus groupby:

-¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

In [56]:
tasa_natalidad_max_area_forestal = df_world_data_total.groupby("continent").apply(lambda x: x["birthrate"].max() / x["landarea"].mean())

#con lambda pq quiere 2 parámetros

-¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?

In [61]:
# Calcula la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente
tasa_media_impuestos_continente = df_world_data_total.groupby('continent')['totaltaxrate'].mean()
tasa_media_desempeo_continente = df_world_data_total.groupby('continent')['unemploymentrate'].mean()

# Muestra el resultado
np.subtract(tasa_media_impuestos_continente, tasa_media_desempeo_continente)

continent
Africa           39.885686
Asia             26.376832
Europe           32.006711
North America    32.443684
Oceania          35.722917
South America    45.760833
dtype: float64