In [1]:
# 1. Importar librerías para manipulación y análisis de datos para csv
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
import openpyxl

In [9]:
# 2. Abrir el archivo, creando un Dataframe. Aseguraros de que no incluye la columna "Unnamed: 0"

df_videogames = pd.read_csv("videogames.csv", index_col=0)

In [10]:
# 3. Una vez creado el Dataframe, muestra las 10 primeras filas
df_videogames.head(10)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
5,The Last of Us: Part II,https://www.imdb.com/title/tt6298000/?ref_=adv...,2020.0,M,8.5,"30,460","Five years after the events of The Last of Us,...",True,True,False,False,False,False,False,False,False
6,Horizon Forbidden West,https://www.imdb.com/title/tt12496904/?ref_=ad...,2022.0,T,9.2,"2,979",Aloy treks into an arcane region and faces new...,True,True,False,False,False,False,True,False,False
7,The Last of Us,https://www.imdb.com/title/tt2140553/?ref_=adv...,2013.0,M,9.7,"60,590","In a hostile, post-pandemic world, Joel and El...",True,True,False,False,False,False,False,False,False
8,Detroit: Become Human,https://www.imdb.com/title/tt5158314/?ref_=adv...,2018.0,M,9.2,"16,907",Take control of three androids in their quest ...,True,True,False,False,False,False,False,False,False
9,Death Stranding,https://www.imdb.com/title/tt5807606/?ref_=adv...,2019.0,M,8.8,"8,136",Deliveryman Sam Porter must travel across a ra...,True,True,False,False,False,False,False,False,False

In [14]:
# 4. ¿Cúal es el último índice que tenemos en el Dataframe?
df_videogames.tail(1)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

In [15]:
# 5. Mostrar 15 filas aleatorias
df_videogames.sample(15)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20022,V,https://www.imdb.com/title/tt19035788/?ref_=ad...,1986.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,True,False
8357,Tales of VS.,https://www.imdb.com/title/tt8557298/?ref_=adv...,2009.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
1617,Rayman Origins,https://www.imdb.com/title/tt2162707/?ref_=adv...,2011.0,E10+,8.1,"1,065",An evil army of horrendous creatures and Darkt...,True,True,True,False,False,False,False,False,False
3424,Fighting Force 2,https://www.imdb.com/title/tt0281855/?ref_=adv...,1999.0,T,6.8,68,"Set in the not-too-distant future, human cloni...",True,False,False,False,False,False,False,False,False
15686,Sûpâ Riaru Mâjan PV,https://www.imdb.com/title/tt4037274/?ref_=adv...,1994.0,NaN,NaN,NaN,Super Real Mahjong PV is the fifth installment...,False,False,True,False,False,False,False,False,False
20386,The Space Adventure,https://www.imdb.com/title/tt6884308/?ref_=adv...,1991.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,True,False
6470,ArmA 3: Apex,https://www.imdb.com/title/tt10052896/?ref_=ad...,2016.0,NaN,8.8,14,Add a Plot,True,False,False,False,False,False,False,False,False
4065,Doom Eternal: The Ancient Gods - Part One,https://www.imdb.com/title/tt15400506/?ref_=ad...,2020.0,M,8.3,74,The Doom Slayer's actions in Urdak broke the s...,True,True,False,False,False,True,False,False,False
9236,Tobe! Kaitou shoujo,https://www.imdb.com/title/tt6296302/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
12658,Winnie the Pooh in the Hundred Acre Wood,https://www.imdb.com/title/tt3708144/?ref_=adv...,1984.0,NaN,5.9,17,Text adventure with illustrations about Pooh's...,False,True,False,False,True,False,False,False,False
843,Homefront: The Revolution,https://www.imdb.com/title/tt4115498/?ref_=adv...,2016.0,M,5.2,344,"2029, Philadelphia. Once known as the birthpla...",True,False,False,False,False,False,False,True,True
17641,Toddler learning games for 3+,https://www.imdb.com/title/tt12564540/?ref_=ad...,2018.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,True,False,False,False,False
6878,Initial D Arcade Stage 8 Infinity,https://www.imdb.com/title/tt10750048/?ref_=ad...,2014.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
17788,Overwatch,https://www.imdb.com/title/tt4332152/?ref_=adv...,2016.0,T,8.3,"4,914",After a devastating war against a combat-ready...,True,True,False,False,False,True,False,False,False
12811,Rest House,https://www.imdb.com/title/tt8254560/?ref_=adv...,2018.0,NaN,NaN,NaN,Add a Plot,False,True,False,False,False,False,False,False,False

In [16]:
# 6. Crea una lista con el nombre de las columnas.
df_videogames.columns

Index(['name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot',
       'Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy',
       'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

In [19]:
for col in df_videogames.columns:
    print(col)

name
url
year
certificate
rating
votes
plot
Action
Adventure
Comedy
Crime
Family
Fantasy
Mystery
Sci-Fi
Thriller

In [21]:
# 7.Guardar el Dataframe en formato Excel y después crear un Dataframe con el Excel. ¿EL Dataframe es similar al que teníais antes?
df_videogames.to_excel("df_videogames_excel.xlsx")

In [24]:
df_videogames_excel = pd.read_excel("df_videogames_excel.xlsx", index_col=0)
df_videogames_excel.head()

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [25]:
# 8. Muestra la "info" del Dataframe
df_videogames_excel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20803 entries, 0 to 20802
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         20803 non-null  object
 1   url          20803 non-null  object
 2   year         20536 non-null  float64
 3   certificate  7903 non-null   object
 4   rating       11600 non-null  float64
 5   votes        11600 non-null  object
 6   plot         20803 non-null  object
 7   Action       20803 non-null  bool
 8   Adventure    20803 non-null  bool
 9   Comedy       20803 non-null  bool
 10  Crime        20803 non-null  bool
 11  Family       20803 non-null  bool
 12  Fantasy      20803 non-null  bool
 13  Mystery      20803 non-null  bool
 14  Sci-Fi       20803 non-null  bool
 15  Thriller     20803 non-null  bool
dtypes: bool(9), float64(2), object(5)
memory usage: 1.4+ MB

In [27]:
# 9. ¿Tiene nulos o duplicados?

df_videogames_excel.duplicated().sum()

1

In [28]:
df_videogames_excel.isnull().sum()

name               0
url                0
year             267
certificate    12900
rating          9203
votes           9203
plot               0
Action             0
Adventure          0
Comedy             0
Crime              0
Family             0
Fantasy            0
Mystery            0
Sci-Fi             0
Thriller           0
dtype: int64

In [29]:
# 10. Obtener la descripción del Dataframe, tanto de las columnas numéricas cómo de las de tipo "object". 
# Explorar el resultado y sacar unas mínimas comclusiones sobre los datos que habéis obtenido.

df_videogames_excel.describe()

               year        rating
count  20536.000000  11600.000000
mean    2005.568611      7.047526
std       11.846028      1.235204
min     1952.000000      1.000000
25%     1997.000000      6.400000
50%     2008.000000      7.200000
75%     2016.000000      7.900000
max     2027.000000      9.700000

In [30]:
df_videogames_excel.describe(include="object")

,name,url,certificate,votes,plot
count,20803,20803,7903,11600,20803
unique,19714,20157,21,1905,11276
top,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,T,7,Add a Plot
freq,9,4,2474,318,8874

En los principales estadísticos de las columnas numéricas vemos que:
1. Tenemos una base de datos en la que contamos con 20.536 películas que contienen el dato "año" y 11600 películas con valoración.
2. El rango de años contemplado es 1952 - 2027.
3. La media de valoración de películas es 7.04.

En los principales categóricos de las columnas no numéricas vemos que:
1. Hay en torno a 1000 películas repetidas.
2. La película que más veces aparece en la base de datos es Spider-man (9 veces).

In [31]:
# 11. Finalmente, guarda el Dataframe en formato "csv" con un nombre diferente del original

df_videogames_excel.to_csv("FINAL_df_videogames.csv")